{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        <p>Currently you have <strong>{{ comments_count }} comments</strong> not yet approved</p>
    </div>

    {% for comment in all_comments %}
        <div class="post">
            <div class="date">
                    Drafted on {{ comment.date_drafted }} by {{ comment.author }}
                    in <a href="{% url 'post_detail' pk=comment.post.pk %}">{{ comment.post.title }}</a>

            </div>

            <p>{{ comment.text|linebreaksbr }}</p>
        </div>

    {% endfor %}

{% endblock content %}