.page-header {
    margin-top: 0;
    padding: 15px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited {
    color: #8CB4FA;
    font-size: 36pt;
    text-decoration: none;
    padding: 15px;
    /* margin-left: 15px; */
}

.content {
    padding: 0px;
    margin-left: 15px;
}

.h1 {
    color: rgba(165, 158, 158, 0.85);
    font-style: normal;
    font-size: 20px;
    padding: 15px;
    margin-left: 35px;
}

.date {
    color: #828282;
    padding: 0;
    font-size: 12;
}

.save, .save-btn {
    float: left;
    margin-left: 19px;
}

.post-form textarea, .post-form input {
    width: 50%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    color: #828282;
    padding: 0;
    margin-left: 15px;
}

.post h1 a, .post h1 a:visited {
    color: #8CB4FA;
    padding: 0;
    margin-left: 15px;
}