.page-header {
    margin-top: 0;
    padding: 15px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited {
    color: #8CB4FA;
    font-size: 36pt;
    text-decoration: none;
    padding: 15px;
    /* margin-left: 15px; */
}

.page-authenticate {

}

.content {
    padding: 0;
    margin-left: 15px;
}

.h1 {
    color: rgba(165, 158, 158, 0.85);
    font-style: normal;
    font-size: 20px;
    padding: 15px;
    margin-left: 35px;
}

.date {
    color: #828282;
    padding: 0;
    font-size: 10pt;
}

.save, .save-btn {
    float: left;
    margin-left: 19px;
}

.edit, .edit-btn {
    float: none;
    /*margin-top: 7px;*/
    margin-left: 18px;
}

.clear, .clear-btn {
    float: left;
    margin-left: 2px;
}

.new, .new-btn {
    /*float: left;*/
    margin-left: 5px;
}

.post-form textarea, .post-form input {
    width: 50%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #828282;
    float: left;
    font-size: 12pt;
}

.post {
    color: #828282;
    padding: 0;
    margin-left: 15px;
    font-size: 10pt;
}

.post h1 a, .post h1 a:visited {
    color: #8CB4FA;
    padding: 0;
    margin-left: 15px;
}