{% load staticfiles %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <title>Culinary Blog</title>
    </head>

    <body>

        {% include 'blog/navigation.html' %}
        {% include 'blog/header.html' %}

        {% block content %}
        {% endblock %}

        {% include 'blog/footer.html' %}
    </body>
</html>