{% extends 'blog/base.html' %}

{% block content %}

    <div class="sidebar-block">
        <div class="sidebar-block-inset">
        <h4>Hey there!</h4>
        <p>My name's Yury and I'm here to tell you<br>a few words about healthy living))</p>
        </div>
    </div>

    <div class="sidebar-block">
        <div class="sidebar-block-inset">
            <p>Welcome back, {{ user.username }}!<small>(<a href="{% url 'logout' %}">Log out</a>)</small>
            <a type="button" class="btn btn-default" href="{% url 'post_new' %}">Add something?</a>
        </div>
    </div>

    {% for draft in all_drafts %}

        <div class="post">
            <h1><a href="{% url 'draft_detail' pk=draft.pk %}">{{ draft.title }}</a></h1>
                <a type="button" class="btn btn-success" href="{% url 'post_publish'  pk=draft.pk %}">Publish</a>
                <a type="button" class="btn btn-default" href="{% url 'post_edit' pk=draft.pk %}">Edit</a>
                <a type="button" class="btn btn-danger" href="{% url 'post_delete' pk=draft.pk %}">Delete</a>

            <div class="date">
                {% if draft.date_modified %}
                    Modified on {{ draft.date_modified }}
                {% else %}
                    Drafted on {{ draft.date_drafted }}
                {% endif %}
            </div>

            <p>{{ draft.text|linebreaksbr }}</p>
        </div>

    {% endfor %}

{% endblock content %}