{% extends 'blog/base.html' %}

{% block content %}
    <div class="h1">
        <h1>Leave your thoughts here</h1>
    </div>

    <div class="post">
        {% if user.is_authenticated %}
            <div class="post-form textarea">
                <form method="POST" class="post-form">{% csrf_token %}
                    {{ form.as_p }}
                <div class="save">
                    <button type="submit" class="save-btn">Save</button>
                </div>
                <div class="clear">
                    <button type="reset" class="clear-btn">Clear</button>
                </div>
                </form>
            </div>
        {% endif %}
    </div>
{% endblock %}