{% extends 'blog/base.html' %}
{% block content %}

    {% if user.is_authenticated %}

    <ul>
        {% for article in archive %}
            <li>{{ article.date_published|date:"F j, Y" }}:
                <a href="{% url 'post_detail' pk=article.pk %}">{{ article.title }}</a>
            </li>
        {% endfor %}
    </ul>

    <div class="month-archive">
    <p>
        {% if previous_month %}
            Previous Month: <a href="{% url 'month_archive' year='2016' month='dec' %}">
            {{ previous_month|date:"F Y" }}</a>
        {% endif %}

        {% if next_month %}
            Next Month: <a href="{% url 'month_archive' year='2017' month='jan' %}">
            {{ next_month|date:"F Y" }}</a>
        {% endif %}
    </p>
    </div>
    {% endif %}

{% endblock content %}